@use './variable' as *;
.btn {
  font-family: $helvetica-neue-font;
  padding: 6px 14px;
  line-height: 22px;
  border-radius: 4px;
  // &:focus-visible {
  //   box-shadow: none;
  // }
  &.btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white-color;
    &:hover {
      background-color: $dark-secondary-color;
      border-color: $secondary-color;
    }
    &:active {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
    &:disabled {
      background-color: $secondary-color;
    }
    &.btn-lg {
      box-shadow: 0 2px 16px -2px rgba(34, 34, 34, 0.15);
    }
  }
  &.btn-secondary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
    &:active {
      background-color: $secondary-color;
      border-color: $primary-color;
    }
    &:disabled {
      background-color: $primary-color;
    }
  }
  &.btn-outline-secondary {
    &.btn-lg {
      border-color: $secondary-color-3b;
      background-color: transparent;
      color: $secondary-color-3b;
      &:hover {
        background-color: $secondary-color-3b;
        color: $white-color;
      }
      &:active {
        background-color: $white-color;
        color: $secondary-color-3b;
      }
      &:disabled {
        background-color: $secondary-color-3b;
      }
      border-width: 2px;
      padding: 20px 60px;
    }
  }
  &.btn-outline {
    border: 1px solid $border-d9;
    border-radius: 4px;
    color: $foreground;
    background-color: $white-color;
    padding: 5px 10px;
    font-size: 13px;
    height: 32px;
    line-height: 15px;
    &:hover {
      background-color: #f9f9fa;
      border-color: #adadad;
    }
  }
  &.btn-lg {
    padding: 12px 7px;
    font-size: 22px;
    border-radius: 4px;
    line-height: 22px;
    transition: all 0.2s;
  }
  &.disabled,
  &:disabled {
    border-color: $foreground-77;
    color: $foreground-77;
  }
}
