.group-list {
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .dropdown-container {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    gap: 0.7rem;
  }
  .dropdown-item {
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    font-size: 2rem;
    gap: 0.7rem;
  }
  .ngb-dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
  }

  .search-input-container {
    display: flex;
    gap: 2rem;
    @media only screen and (max-width: 768px) {
      display: block;
      flex-grow: 1;
    }
  }

  .btn-search {
    padding: 10px;
    font-size: 14px;
    color: #6b7280;
    border-radius: 8px 0 0 8px;
    border: 1px solid #e2e8f0;
    border-right: none;
    cursor: pointer;
  }

  ::ng-deep {
    .table-action-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      .btn-action {
        padding: 5px;
        color: #1e293b;
        &:hover {
          color: #f68b1c;
        }
      }
    }
  }
}
::ng-deep {
  .p-dialog .p-dialog-header .p-icon {
    height: 20px;
    width: 20px;
  }
  .p-dialog .p-dialog-header {
    font-size: 2.25rem;
    font-weight: normal;
  }
  .p-dialog .confirmation-btn {
    width: 15vw;
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
  }
}

::ng-deep .p-select-label {
  font-size: 1.5rem !important;
}
.icon-counter-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #555; /* icon color */
  cursor: default;
}

/* Count badge styling */
.icon-counter-wrapper .count-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px; /* space between icon and count */
  background-color: #ff7f0f; /* orange badge */
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 12px;
  min-width: 20px;
  height: 20px;
  text-align: center;
}

/* Optional: hover effect */
.icon-counter-wrapper:hover {
  color: #333; /* darken icon on hover */
}
