<div class="draft-messages">
  <sug-ui-loading-spinner
    [isLoading]="isLoading"
    [isFullPageLoader]="true"
  ></sug-ui-loading-spinner>
  <h2>Draft Messages & Templates</h2>
  @if (tableData.length > 0) {
  <sug-ui-table
    [data]="tableData"
    [columns]="tableColumns"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['created', 'subject', 'type']"
    (sort)="onSort($event)"
    (page)="onPage($event)"
  >
    <ng-template
      #actionTemplate
      let-rowData
      let-column="column"
      let-rowIndex="rowIndex"
    >
      <div class="table-action-wrapper">
        <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
        <i
          class="pi pi-pencil btn-action"
          (click)="editDraft()"
          title="Edit message"
          style="cursor: pointer"
        ></i>
        <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
        <i
          class="pi pi-times btn-action"
          (click)="openDeleteDialog(rowData)"
          title="Delete message"
          style="cursor: pointer"
        ></i>
      </div>
    </ng-template>
  </sug-ui-table>
  }
</div>
<sug-ui-dialog
  [config]="dialogConf"
  [(visible)]="isVisible"
  [showFooter]="true"
>
  <h2 slot="header">Confirmation</h2>
  <p>
    Are you sure you want to delete "{{selectedItem?.subject}}" draft from the
    list?
  </p>
  <div
    slot="footer"
    class="d-flex justify-content-center align-items-center w-100"
  >
    <sug-ui-button
      label="Yes"
      icon=""
      [rounded]="false"
      [size]="'large'"
      [severity]="'success'"
      [outlined]="false"
      (buttonClick)="closeDeleteDialog()"
    ></sug-ui-button>
  </div>
</sug-ui-dialog>
