.draft-messages {
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  ::ng-deep {
    .table-action-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      .btn-action {
        padding: 5px;
        color: #1e293b;
        &:hover {
          color: #f68b1c;
        }
      }
    }
  }
}
