.scheduled-messages {
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  ::ng-deep {
    .table-action-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      .btn-action {
        padding: 5px;
        color: #1e293b;
        &:hover {
          background-color: #f68b1c;
        }
      }
    }
  }
}

::ng-deep {
  .p-dialog .p-dialog-header .p-icon {
    height: 20px;
    width: 20px;
  }
  .p-dialog .p-dialog-header {
    font-size: 2.25rem;
    font-weight: normal;
  }
  .p-dialog .confirmation-btn {
    width: 15vw;
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
  }
}
