.compose-container {
  padding: 30px 0;
  position: relative;
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
  }
}
.email-form-section {
  max-width: 700px;
  .form-wrapper {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    label {
      width: 40%;
    }
    input,
    .add-link-btn {
      width: 60%;
      ::ng-deep {
        .p-button {
          width: 100%;
        }
      }
    }
    input {
      height: 46px;
    }
    ::ng-deep {
      .pi {
        font-size: 20px;
      }
      .p-icon {
        height: 20px;
        width: 20px;
      }
      sug-ui-select-box {
        width: 60%;
      }
      p-select,
      .select-wrapper {
        width: 100%;
      }
    }
    textarea,
    input {
      padding: 5px 10px;
      width: 60%;
      border: 1px solid #cbd5e1;
      border-radius: 6px;
    }
    textarea {
      height: 200px;
    }
  }
  .btn-wrapper {
    display: flex;
    gap: 20px;
  }
}
.back-btn {
  position: absolute;
  top: 32px;
  right: 0;
  background: transparent;
  border: none;
  color: #f68b1c;
}
