<div class="sent-messages">
  <sug-ui-loading-spinner
    [isLoading]="isLoading"
    [isFullPageLoader]="true"
  ></sug-ui-loading-spinner>
  <h2>Scheduled Messages</h2>
  @if(tableData.length > 0) {
  <sug-ui-table
    [data]="tableData"
    [columns]="tableColumns"
    [totalRecords]="totalRecords"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['scheduled', 'subject', 'type']"
    (sort)="onSort($event)"
    (page)="onPage($event)"
  >
    <ng-template
      #actionTemplate
      let-rowData
      let-column="column"
      let-rowIndex="rowIndex"
    >
      <div class="table-action-wrapper">
        <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
        <i
          class="pi pi-chart-bar chart-icon"
          (click)="onActionClick(rowData)"
          style="cursor: pointer"
          data-message-id="${rowData.messageid}"
          title="View message details"
        ></i>
      </div>
    </ng-template>
  </sug-ui-table>
  }
</div>
<div class="sent-content">
  <router-outlet></router-outlet>
</div>
