<sug-ui-loading-spinner
  [isLoading]="isLoading"
  [isFullPageLoader]="true"
></sug-ui-loading-spinner>
<div class="message-analytics-wrapper">
  <div class="stats-wrapper">
    <h3>Delivery Stats</h3>
    <div class="row">
      <sug-ui-delivery-stats
        [deliveryStats]="deliveryStats"
        columnClass="col-xs-12 col-sm-6 col-md-4"
      >
      </sug-ui-delivery-stats>
    </div>
  </div>
  <div class="stats-wrapper">
    <h3>Response Stats</h3>
    <div class="row">
      <sug-ui-delivery-stats
        [deliveryStats]="responseStats"
        columnClass="col-xs-12 col-sm-6 col-md-4"
      >
      </sug-ui-delivery-stats>
    </div>
  </div>
  <div class="detail-table">
    @if (tableData.length) {
    <h3>Delivery Details</h3>
    <sug-ui-table
      [data]="tableData"
      [columns]="tableColumns"
      [paginator]="false"
      [lazy]="true"
      (sort)="onSort($event)"
    >
    </sug-ui-table>
    }
  </div>
</div>
