.account-overview {
  h3 {
    margin: 5px auto;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
  }
}
.plan {
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
::ng-deep sug-ui-progress-bar {
  .progress-bar {
    color: #004d40 !important;
    overflow: visible !important;
  }
}
