<div class="row message-container">
  <h2 class="tab-title col-md-8">Messages</h2>
  <div class="col-md-12">
    <sug-ui-menu-tabs
      [tabs]="navigationTabs"
      [activeTab]="currentActiveTab"
      (selectionChange)="handleTabSelection($event)"
    ></sug-ui-menu-tabs>
  </div>
  <div class="col-md-12 tab-content">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-12">
    <p class="link-text">
      NOTE: Dates are in mm/dd/yyyy. Times are shown in EDT. To modify, update
      your <a href="#">settings</a>.
    </p>
  </div>
</div>
