.message-container {
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tab-title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    margin-top: 5px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
    font-style: normal;
  }
}
.link-text {
  color: var(--p-surface-500);
  font-size: 11px;
  line-height: 18px;
  a {
    transition: color 0.2s cubic-bezier(0.6, 0, 0.1, 1);
    text-decoration: none;
    color: var(--p-primary-500);
    cursor: pointer;
  }
}
